* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  transition: all 0.3s;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("../typography/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../typography/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 800;
}
.important-text {
  color: #3636f0;
}

.important-text-2 {
  color: #052b5c;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

hr {
  background-color: #edf2ef;
  width: 100%;
  height: 1px;
  border-radius: 3px;
}

.body-container {
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
}

.section {
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  background-color: #3636f0;
  color: #edf2ef;
}
.btn a {
  color: #edf2ef;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  transform: scale(0.9);
}

.ghost-btn {
  background: transparent;
  border: solid 2px #3636f0;
  color: #3636f0;
}
.ghost-btn a {
  color: #3636f0;
}
.ghost-btn:hover {
  background-color: #3636f0;
  color: #edf2ef;
  box-shadow: none;
  opacity: 1;
}
.ghost-btn:hover a {
  color: #edf2ef;
}

.warning-text {
  color: red;
}

body {
  background-color: #edf2ef;
  overflow-x: hidden;
}

.navbar {
  background-color: #052b5c;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.navbar-icon {
  width: 80%;
  max-width: 250px;
}

.navbar-links {
  display: none;
}

.sidebar {
  display: flex;
  position: fixed;
  width: 80%;
  height: 95%;
  overflow-y: auto;
  transform: translateX(-200%);
  padding: 1rem;
  background: linear-gradient(to bottom, #052b5c, #3636f0);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: 1000;
}

.sidebar-link {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
}
.sidebar-link p {
  color: #edf2ef;
}

.link-icon {
  width: 20px;
}

.toggle-btn {
  background: none;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 20px;
}
.toggle-btn .line {
  transition: transform 0.4s ease, opacity 0.2s ease;
  height: 2px;
  width: 100%;
  background-color: #edf2ef;
  border-radius: 2px;
}
.toggle-btn.toggled .line:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}
.toggle-btn.toggled .line:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}
.toggle-btn.toggled .line:nth-child(2) {
  opacity: 0;
}

.subscribe-form {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.subscribe-form .form-title {
  font-size: 1rem;
  color: #edf2ef;
}
.subscribe-form input {
  padding: 0.5rem;
  border-radius: 3px;
}
.subscribe-form .btn {
  background: #052b5c;
  text-transform: uppercase;
}

.section-title {
  color: #052b5c;
  letter-spacing: 3px;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

.hero-section .hero-img {
  width: 100%;
  border-radius: 0 0 3px 3px;
  position: relative;
}
.hero-section .hero-content {
  position: absolute;
  top: 25%;
  width: 100%;
  padding: 1rem;
  font-size: 0.9rem;
}
.hero-section .hero-content :first-child {
  font-weight: 200;
}
.hero-section .btn {
  border-radius: 100vh;
  text-transform: uppercase;
  margin-top: 5px;
  max-width: 350px;
}

.welcome-section .section-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.free-quote {
  background-color: #dceced;
  padding: 1rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.free-quote .free-quote-input {
  background: transparent;
  padding: 0.5rem;
  border: solid 1px #364156;
  border-radius: 3px;
  width: 100%;
}
.free-quote .free-quote-input:focus {
  border-color: #3636f0;
}
.free-quote .btn {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 10px;
  border: solid 1px #3636f0;
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.card:first-child {
  grid-column: span 2;
}
.card:first-child .btn {
  max-width: none;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: space-between;
}
.card .btn {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-self: center;
  color: #3636f0;
  border: solid 1px #3636f0;
}
.card .btn a {
  color: #3636f0;
}
.card .btn:hover {
  background-color: #3636f0;
  color: #edf2ef;
}
.card .btn:hover a {
  color: #edf2ef;
}

.card-title {
  text-transform: uppercase;
  text-align: center;
  color: #052b5c;
}

.videos-section .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.videos-section .video {
  width: 100%;
  border: solid 2px #3636f0;
  border-radius: 3px;
}

.cta-section {
  /* background: linear-gradient(
  	to right bottom,
  	$secondary-color,
  	$primary-color
  ); */
  padding: 1rem;
  border-radius: 8px;
  background-color: #052b5c;
}
.cta-section .section-title {
  color: #edf2ef;
}
.cta-section .section-content {
  color: #edf2ef;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}
.cta-section .cta-link {
  text-align: right;
  text-transform: uppercase;
}
.cta-section .cta-link h3 {
  color: #edf2ef;
}
.cta-section .cta-link h2 {
  color: #10a7a4;
}

.accordion {
  width: 100%;
  border-radius: 3px;
  border: solid 1.5px #3636f0;
}
.accordion hr {
  background-color: #3636f0;
}

.accordion-item {
  margin-bottom: 0px;
}

.accordion-header {
  display: flex;
  padding-inline: 1rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.accordion-header .accordion-title {
  color: #3636f0;
  padding-block: 10px;
}
.accordion-header .accordion-toggle {
  width: 25px;
  height: 25px;
}
.accordion-header .accordion-toggle.turned {
  transform: rotate(180deg);
}

.accordion-content {
  font-size: 1rem;
  padding-inline: 1rem;
  transition: all 0.3s ease-in-out;
  max-height: 0px;
  overflow: hidden;
}
.accordion-content.active {
  max-height: 500px;
  padding-bottom: 1rem;
}

.footer {
  background-color: #052b5c;
  padding: 2rem;
  color: #edf2ef;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-options {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  align-items: center;
  gap: 10px;
}

.contact-option {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #edf2ef;
}

.contact-icon {
  width: 25px;
  height: 25px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.social-link p {
  display: none;
}

.social-icon {
  width: 30px;
  height: 30px;
}

.footer-img {
  margin-bottom: 10px;
}

@media screen and (min-width: 700px) {
  .toggle-btn {
    display: none;
  }
  .navbar-links {
    display: flex;
    gap: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    align-items: center;
  }
  .navbar-links img {
    width: 20px;
  }
  .navbar-links p {
    color: #edf2ef;
  }
  .navbar-links .btn {
    border-radius: 100vh;
    text-transform: uppercase;
  }
  .navbar-link {
    padding: 0.5rem;
    padding-inline: 1rem;
    display: flex;
    gap: 10px;
    border-radius: 100vh;
  }
  .navbar-link:hover {
    background-color: #3636f0;
  }
  .body-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .hero-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .hero-content {
    top: 30%;
    left: 15%;
  }
  .welcome-section {
    grid-column: span 2;
  }
  .services-section {
    grid-column: span 2;
  }
  .services-section .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .free-quote {
    padding: 0;
    background-color: #edf2ef;
    height: 100%;
    justify-content: space-around;
  }
  .videos-section {
    grid-column: 2;
    grid-row: 2;
  }
  .videos-section .section-content {
    gap: 8px;
  }
  .cta-section {
    grid-column: span 2;
  }
  .cta-section .section-title {
    font-size: 1.8rem;
  }
  .cta-section .section-content {
    font-size: 1.3rem;
  }
  .cta-section .position-left {
    max-width: 600px;
  }
  .faq-section {
    grid-column: span 2;
  }
  .faq-section .accordion {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .faq-section .accordion hr {
    display: none;
  }
  .faq-section .accordion-item {
    border: solid 1.5px #3636f0;
    border-radius: 3px;
  }
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer hr {
    display: none;
  }
  .footer .contact-options {
    align-items: flex-start;
    justify-content: space-around;
    font-size: 1rem;
    gap: 2px;
  }
  .footer .social-links {
    flex-direction: column;
    gap: 10px;
  }
  .footer .social-link {
    display: flex;
    align-items: center;
    color: #edf2ef;
    gap: 5px;
  }
  .footer .social-link p {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
